@model IEnumerable<Movie>


<h1>Welcome to actors index view page</h1>

<div class="row">
   @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-dark">
                            <p class="card-text">
                                <h5 class="card-title font-monospace">
                                    @item.Name
                                    <a class="text-white float-right"></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Images/Movies/@item.ImageUrl" width="100%" alt="No existing image!">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Start date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text">
                                <b>Status: </b>@if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > @item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-end"><i class="bi bi-eye-fill"></i>Show details</a>
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus">Buy (@item.Price.ToString("C2"))</i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>